<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Recommender</title>
    <!-- BootStrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Jquery -->
    <script>
      //  $('#disable')
    </script>
  </head>
  <body>
    <nav

      class="navbar navbar-expand-lg navbar-light"
      style="
        border-bottom: 1px solid rgba(34, 34, 34, 0.05);
        background-color: #fff;
        box-shadow: 1px 1px 2px 1px grey;
      "
    >
      <a class="navbar-brand" href="/"
        ><div class="imagenavbar d-inline-block align-top" style="width: 60px; height: 55px;"></div><span style="font-size: 2rem; color: grey;">
          College Recommender</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
       
      </button>
    </nav>
    <div class="Container"
    style="
    padding: 1%;
      width: 40%;
      margin: 4% auto;
      border: 1px solid red;
      background-color: rgb(247, 192, 192);
      border-radius: 10px;
      box-shadow: 1px 1px 2px 1px rgb(241, 95, 95);
    ">
    <h6><%=msg %></h6>
        
    </div>
    <div
      class="Container"
      style="
        width: 40%;
        margin: 4% auto;
        border: 1px solid grey;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px grey;
      "
    >
      <div class="imageContainer" style="height: 300px;"></div>
      <!-- <h3 style="text-align: center; color: #818181 ;" >VJTI Grievance Portal</h3> -->
      <form class="formStyle" method="POST" action="/">
        <h5 style="color: rgb(110, 109, 109); margin-bottom: 2%;">
          Sign into your account
        </h5>
        <input
          style="margin-bottom: 2%;"
          type="text"
          name="collegeID"
          id="inputID"
          class="form-control"
          placeholder="College ID"
          required
          autofocus
        />
        <input
          style="margin-bottom: 1%;"
          type="password"
          name="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />
        <a href="" class="forget" style="margin-bottom: 5%;"
          >Forgot Password ?</a
        >
        <div class="row">
          <div class="col-sm" style="text-align: left;">
            <label>
              <input type="checkbox" class="checkStyle"  /> Remember Me
            </label>
            <br />
          </div>
          <div class="col-sm" style="text-align: right;">
            <button class="btn btn-dark" style="width: 60%; background-color: black;">Log In</button>
          </div>
        </div>
      </form>
      <div
     
        style="
        padding: 2%;
          background-color: black;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          text-align: center;
        "
      >
        <a href="/sign-up" class="footerlinks" style="font-size: 1.2rem;"
          >New User ? Sign-Up</a
        >
      </div>
    </div>
  </body>
</html>
